<?php
    putenv('TTRSS_DB_TYPE=pgsql');
    putenv('TTRSS_DB_HOST=localhost');
    putenv('TTRSS_DB_USER={{ ttrss_db.user }}');
    putenv('TTRSS_DB_NAME={{ ttrss_db.name }}');
    putenv('TTRSS_DB_PASS={{ ttrss_db.pwd }}');
    putenv('TTRSS_DB_PORT={{ ttrss_db.port | int }}');
    // This should be set to a fully qualified URL used to access your TTRSS instance over the net
    // if your tt-rss instance is behind a reverse proxy, use external URL.
    // You need to set this option correctly otherwise several features
    // including PUSH, bookmarklets and browser integration will not work properly.
    putenv('TTRSS_SELF_URL_PATH=https://{{ ttrss.domain }}/');
    // Operate in single user mode, disables all functionality related to
    // multiple users and authentication. Enabling this assumes you have
    // your tt-rss directory protected by other means (e.g. http auth).
    putenv('TTRSS_SINGLE_USER_MODE=false');
    // Allow users to register themselves. Please be aware that allowing
    // random people to access your TTRSS installation is a security risk
    // and potentially might lead to data loss or server exploit. Disabled
    // by default.
    putenv('TTRSS_ENABLE_REGISTRATION=false');
    // Maximum amount of users which will be allowed to register on this
    // system. 0 - no limit.
    putenv('TTRSS_REG_MAX_USERS=0');
    // System plugins enabled for all users, comma-separated list, no quotes
    // keep at least one auth module in here (i.e., auth_internal)
    putenv('TTRSS_PLUGINS=auth_internal');
