[Desktop Entry]
Name=TinyTinyRSS video feeds
Type=Application
TryExec={{ bay_root_path }}/taha/projects/ttrss-video-mpv/ttrss-video-mpv.sh
{# execute using mlterm terminal in order to get arabic language support
https://manpages.org/mlterm #}
Exec=/usr/bin/mlterm --title="Playing videos from TTRSS" --bg="#000000" --fg="#FFFFFF" -e {{ bay_root_path }}/taha/projects/ttrss-video-mpv/ttrss-video-mpv.sh -c 30
GenericName={{ hostinfo.taipei.ttrss }}
Comment=Play latest videos from TTRSS video category
Categories=Network;Video;AudioVideo;
Keywords=ttrss;videos;feeds;shell script;
Icon={{ desktop_icon.dest }}
{# set to false to avoid an empty xterm window (since we are calling mlterm) #}
Terminal=false
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
