<VirtualHost *:80>
   ServerAdmin {{ ttrss.email }}
   ServerName {{ ttrss.domain }}
   ServerAlias {% for alias in ttrss.domain_alias %}{{ alias + ' ' }}{% endfor %}

   DocumentRoot {{ ttrss.wwwroot }}

   # Deny external access to cache dir
   # https://tt-rss.org/wiki/SecuringCacheDirectories
   <Directory {{ ttrss.wwwroot }}/cache>
      Require all denied
   </Directory>

   # Deny external access to config.php file
   <Directory {{ ttrss.wwwroot }}>
      <Files "config.php">
         Require all denied
      </Files>
   </Directory>

   ErrorLog ${APACHE_LOG_DIR}/{{ ttrss.domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ ttrss.domain }}_access.log combined
</VirtualHost>
