[Unit]
Description=TinyTinyRSS update daemon
After=network.target postgresql.service

[Service]
User={{ ttrss.wwwuser }}
ExecStart={{ ttrss.wwwroot }}/update_daemon2.php

[Install]
WantedBy=multi-user.target
